[submodule "NFT/lib/forge-std"]
	path = NFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NFT/lib/openzeppelin-contracts"]
	path = NFT/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
